.sign-in-form {
  width: 100%;
  margin: auto;
  max-width: 343px;
}

.sign-in {
  display: flex;
  justify-content: center;
  font-family: cursive;
}
.sign-in-container {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #eceae6;
}
.email {
  margin-bottom: 10px;
}

.password {
  margin-bottom: 10px;
}

.holder {
  margin-bottom: 20px;
  height: 40px;
  letter-spacing: normal;
  width: 100%;
  padding-left: 10px;
}
